{% extends "admin/base_site.html" %}

{% load static %}
{% load i18n %}

<!-- custom filter module -->
{% load i18n_switcher %}

{% block extrahead %}
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}" />
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img style="background-color: white" src="{% static 'images/company_logo.jpeg' %}" alt="Bright Language School" height="50%" width="50%">
        <br><br>
        <span> {% trans "Bright Language School" %}</span>
        </a>
    </h1>
{% endblock %}

{% block nav-global %}
<a href="{% url 'create_backup' %}" class="sidebar-link icon">
    <span class="sidebar-link-icon">
        <img src="{% static 'images/download-icons.svg' %}" alt="Backup Icon" style="height: fit-content;width: 8%;">
    </span>
    {% trans 'Database backup' %}
</a>
{% endblock %}

{% block userlinks %}
<ul>
    <li>
        <a href="{{ request|switch_i18n:'en' }}">
            <img class="i18n_flag" src="{% static 'images/flag-british.png' %}" />
        </a>
    </li>
    <li>
        <a href="{{ request|switch_i18n:'uk' }}">
            <img class="i18n_flag" src="{% static 'images/flag-ukraine.png' %}" />
        </a>
    </li>
</ul>
{% if user.is_active and user.is_staff %}
{% url 'django-admindocs-docroot' as docsroot %}
{% if docsroot %}
<a href="{{ docsroot }}">{% trans 'Документація' %}</a> /
{% endif %}
{% endif %}
{% if user.has_usable_password %}
<a href="/">{% trans 'Переглянути сайт' %}</a> /
<a href="{% url 'admin:password_change' %}">{% trans 'Змінити пароль' %}</a> /
{% endif %}
<a href="{% url 'admin:logout' %}">{% trans 'Вийти' %}</a>
{% endblock %}